/**
 * Main variable file.
 * Houses several global variables that are used for storage.
 * Also includes overwriteable configuration.
 */

$tys_tests: (); // Tests are added through functions
$tys_tests_passed: 0;
$tys_tests_failed: 0;

$tys_config: (
	debug_on_pass: false,
) !default; // Set as default to allow changes